<html>
    <head>
    </head>
    <body>
        <div>
        <h2>SignUp page</h2>
        <form action="/signup" method="post">
            {% csrf_token %}
            <label>Name</label>
            <input input="input" name="name"> <br>

            <label>Email</label>
            <input input="email" name="email"><br>

            <label>Phone</label>
            <input input="input" name="phone"><br>


            <label>Pan Number</label>
            <input input="input" name="pan"><br>

            <label>Date of Birth</label>
            <input type="date" name="dob"><br>


            <label>Aadhar Number</label>
            <input input="input" name="aadhar"><br>


            <label>Password </label>
            <input type="password" name="password"><br>

            <label>Confirm Password</label>
            <input type="password" name="confirm_password"><br>


            <input type="submit">

        </form>
    </div>

    </body>

</html>